# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
ecom_api/
.env
alembic.ini

# IDE
.idea/
.vscode/
*.swp
*.swo

# Logs
*.log

# Local development settings
.env.local
.env.development.local
.env.test.local
.env.production.local

# PostgreSQL dumps and backups
*.dump
*.sql
*.backup

# Redis dump
dump.rdb

# Celery
celerybeat-schedule
celerybeat.pid


test.db